div.trans{
    color: #2196f3;
    width: 50px; 
    white-space: nowrap;
    height: 60px;
    background-color: #fff;
    text-transform: capitalize;
    padding: 10px 10px;
     margin: 20px 20px;
     transition:all 2s;
     font-family: fantasy;
     font-size: 24px;
     border:1px solid #2196f3;
     
  }
  
  div.trans span{
  margin-left:10px;
   display: none;
  //  transition:display 0.0s;
  }
  
  div.trans:hover{
    width: 300px;
    color: #fff;
    background-color: #2196f3;
  
  
  }
  
  div.trans:hover span{
   display: inline;
  
  }