.right{
    height: 100%;
      padding: 0;
      background-color: #2196f3;
     //  transition: all 1s;
}
.left{
    height: 100%;
      padding: 0;
      background-color: #eee;
     //  transition: all 1s;
}


@media only screen and (max-width: 600px) {
    .test{
        width: 100%;
    }
    .test2{
        width:100%;
    }
} 
@media only screen and (min-width: 600px) {
    .test{
        width: 10%;
    }
    .test1{
        width:90%;
    }
    .test2{
        width:30%;
    }
    .test3{
        width:70%;
    }
} 
@media only screen and (min-width: 768px) {
    .test{
        width: 10%;
    }
    .test1{
        width: 90%;
    }
    .test2{
        width:30%;
    }
    .test3{
        width:70%;
    }
} 
@media only screen and (min-width: 992px) {
    .test{
        width: 5%;
    }
    .test1{
        width:95%;
    }
    .test2{
        width:20%;
    }
    .test3{
        width:80%;
    }
} 
@media only screen and (min-width: 1200px) {
    .test{
        width: 5%;
    }
    .test1{
        width:95%;
    }
    .test2{
        width:20%;
    }
    .test3{
        width:80%;
    }
}





ul.my-menu{
    list-style-type: none;
    background-color: #2196f3;
    padding-left:0;
    border-top:2px solid #fff;
    margin-left:1px;
    cursor: pointer;
    
// &:hover{
//     width:60px;
// }

// &:hover span {
//     display:none;
//  }
    
}

.collapse-menu span{
    display:none;

}

ul.my-menu li{
    border:1px solid #fff;
    padding:5px 10px;
    border-top: 0;
    color:#fff;
    font-family: fantasy;
    font-size: 24px;
    white-space: nowrap;

}

ul.my-menu li span{
    color:#fff;
    margin-left:10px;
    text-transform: uppercase;
}

img{
    width:100%;
    height: 100%;
}
